<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="conveyor_belt" params="robot_name">
  <link name="conveyor_belt">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1 10 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="10 1 0.01" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="conveyor_belt">
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  </xacro:macro>

</robot>